<style>
    footer {
        display: none;
        position: fixed;

        width: 100%;
        height: 100%;

        background:#0006;
    }

    footer p {
        width: 100%;
        max-width: 460px;
        padding: 8px;
        background-color: var(--background-color-dark);
    }

    footer.shown {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about-button {
        float: right;
    }
</style>

<section id="game-page">
    <div id="game-display">
        <div id="world-container">
            <div id="game-board-container">
                <div id="game-board">Loading board...</div>
                <div id="player-pawns"></div>

                <div id="board-center">
                    <div id="highlight" class="highlight"></div>
                    <div id="highlight-form" class="hidden">
                        <div id="mortgage-control">
                            <button>Mortgage</button>
                            <span></span>
                        </div>
                        <div id="house-control" class="hidden">
                            <input type="number" min="0" max="5">
                            <span></span>
                            <button>Confirm</button>
                        </div>
                        <div>
                            <button id="trade-add-button" class="hidden">Add to trade</button>
                            <button id="trade-remove-button" class="hidden">Remove from trade</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="game-stats">
            <div id="game-players"></div>
            <div id="game-info">

            </div>
        </div>
    </div>

    <div id="game-controls">
        <div id="game-actions">
            <div>
                <h1>Monopolobbies</h1>
                <button id="rotate-left">left</button>
                <button id="rotate-right">right</button>
                <button id="bankrupt-button" class="bankrupcy">Forfeit</button>
                <button id="about-button">About</button>
            </div>

            <div id="trade-control">
                <div>
                    <select id="trade-player-select">
                        <option disabled selected>Select a player...</option>
                    </select>
                    <button>Make a trade</button>
                </div>
                <div class="hidden">
                    <div class="player-trade-content" id="trade-player-1">
                        <span></span>
                        <ul></ul>
                    </div>
                    <input id="trade-money" type="number" value="0">
                    <span title="Who receives money?"></span>
                    <div class="player-trade-content" id="trade-player-2">
                        <span></span>
                        <ul></ul>
                    </div>
                    <button>Propose</button>
                    <button>Cancel</button>
                </div>
                <div class="hidden">Pending trade response</div>
            </div>

            <div id="control-panel">
                <h2 class="center">Controls</h2>
                <div id="dice-rolls" class="hidden">
                    <button>Roll Dice</button>
                    <div>

                    </div>
                </div>
                <div id="tax" class="hidden">
                    <button>PAY <span></span></button>
                </div>
                <div id="auction" class="hidden">
                    <div id="bid">
                        <span>Highest bid:</span>
                        <div>Nobody</div>
                        <div>0</div>
                    </div>
                    <div>Remaining time: <span>--:--</span></div>
                    <form>
                        <input type="number" min="1" max="1000000" value="1">
                        <button type="submit">Outbid</button>
                    </form>
                </div>
                <div id="buy-new" class="hidden">
                    <button>BUY</button>
                    <button>AUCTION</button>
                </div>
                <div id="manage-properties" class="hidden">
                    <button>CONTINUE</button>
                </div>
                <div id="jail-decision" class="hidden">
                    <button>ROLL FOR ESCAPE</button>
                    <button>$50 FINE</button>
                    <button>USE GET OUT CARD</button>
                </div>
                <div id="force-sell" class="hidden">
                    <button class="bankrupcy">GO BANKRUPT</button>
                    <button>CONTINUE</button>
                    <p></p>
                </div>
            </div>
        </div>
        <div id="game-chat">
            <%- include('./chat.ejs'); %>
        </div>
    </div>
</section>

<%- include('./game_partials/board.ejs'); %>

<script>
    const TurnState = {
        END: {id: -2, elem: undefined, show_property_edit_form: false},
        JAIL_DECISION: {id:-1, elem:undefined, show_property_edit_form: true},
        ROLL: {id:0, elem:undefined, show_property_edit_form: true},
        MOVE: {id:1, elem:undefined, show_property_edit_form: false},
        TAX: {id:2, elem:undefined, show_property_edit_form: true},
        BUY_NEW: {id:3, elem:undefined, show_property_edit_form: true},
        AUCTION: {id:4, elem:undefined, show_property_edit_form: false},
        FORCE_SELL: {id:5, elem:undefined, show_property_edit_form: true},
        MANAGE_PROPERTIES: {id:6, elem:undefined, show_property_edit_form: true},
        BANKRUPT_AUCTION: {id:7, elem:undefined, show_property_edit_form: false},
    };

    const PlayerStatus = {
        PLAYING: 0,
        BEING_KICKED: 1,
        KICKED: 2,
    };

    var players = [];
    var myself = -1;

    var current_player = 0;
    var turn_state = {};

    var control_panel;

    function clear_turn_elems() {
        for(const step in TurnState) {
            if(TurnState[step].elem) {
                TurnState[step].elem.classList.add('hidden');
            }
        }
    }

    function set_turn_data(turn_data) {
        current_player = turn_data.player_id;

        turn_state = Object.values(TurnState).find(ts => ts.id === turn_data.step);

        if(turn_data.step === TurnState.ROLL.id) {
            clear_turn_elems();

            if(myself === current_player) {
                TurnState.ROLL.elem.classList.remove('hidden');
                TurnState.ROLL.elem.querySelector('button').disabled = false;
                TurnState.ROLL.elem.querySelector('div').classList.remove('hidden');
                TurnState.ROLL.elem.querySelector('div').innerText = '';
            }
        } else if(turn_data.step === TurnState.TAX.id) {
            clear_turn_elems();

            if(myself === current_player) {
                TurnState.TAX.elem.classList.remove('hidden');
                let str = '$' + turn_data.cur_tax.amount + ' to ';
                get_player_from_id(turn_data.cur_tax.dest_id).then(p => {
                    str += p ? p.name : ' bank';
                    TurnState.TAX.elem.querySelector(':scope > button > span').innerText = str;
                }).catch(console.error);
            }
        }
        else if(turn_data.step === TurnState.BUY_NEW.id) {
            clear_turn_elems();

            if(myself === current_player) {
                TurnState.BUY_NEW.elem.classList.remove('hidden');
            }

            set_highlight_property(turn_data.cur_buy.location, true);
        } else if(turn_data.step === TurnState.AUCTION.id || turn_data.step === TurnState.BANKRUPT_AUCTION.id) {
            clear_turn_elems();

            TurnState.AUCTION.elem.classList.remove('hidden');

            const input = TurnState.AUCTION.elem.querySelector('input');
            input.value = 10;
            update_auction(turn_data.cur_buy);
        } else if(turn_data.step === TurnState.MANAGE_PROPERTIES.id) {
            clear_turn_elems();

            if(myself === current_player) {
                TurnState.MANAGE_PROPERTIES.elem.classList.remove('hidden');
            }
        } else if(turn_data.step === TurnState.END.id) {
            clear_turn_elems();
        } else if(turn_data.step === TurnState.JAIL_DECISION.id) {
            clear_turn_elems();

            if(myself === current_player) {
                TurnState.JAIL_DECISION.elem.classList.remove('hidden');
            }
        } else if(turn_data.step === TurnState.FORCE_SELL.id) {
            clear_turn_elems();

            if(myself === current_player) {
                TurnState.FORCE_SELL.elem.classList.remove('hidden');
                if(turn_data.owe) {
                    TurnState.FORCE_SELL.elem.querySelector('p').innerText = 'You owe $'+turn_data.owe;
                }
                else {
                    TurnState.FORCE_SELL.elem.querySelector('p').innerText = '';
                }
            }
        }


        update_player_display();
    }

    function update_player_display() {
        for(const player of players) {
            const pawn = player.pawn;
            const info = player.player_entry;
            if (player.id === current_player) {
                pawn.classList.add('playing');
                info.classList.add('playing');
                if(player.id === myself) control_panel.classList.add('playing');
            } else {
                pawn.classList.remove('playing');
                info.classList.remove('playing');
                if(player.id === myself) control_panel.classList.remove('playing');
            }
            if(player.id === myself) control_panel.classList.add('player-' + player.color);
        }
    }

    function move_player(player, target, disableAnimation) {
        const player_pawn = player.pawn;
        player.position = target;

        if(disableAnimation) {
            player_pawn.classList.add('no-transition');
        }


        const target_square = get_square(target);
        const bounds = board.getBoundingClientRect();
        const target_rectangle = target_square.getBoundingClientRect();
        const pawn_bounds = player_pawn.getBoundingClientRect();
        let offsetX = (pawn_bounds.width + 4) * (-1 + player.color%3);
        let offsetY = (pawn_bounds.height + 4) * (Math.floor(player.color/3));
        player_pawn.style.top = ((target_rectangle.y +  target_rectangle.height / 2 - pawn_bounds.height / 2) - bounds.y + offsetY) + 'px';
        player_pawn.style.left = ((target_rectangle.x + target_rectangle.width / 2 - pawn_bounds.width / 2) - bounds.x + offsetX) + 'px';

        if(disableAnimation) {
            player_pawn.offsetHeight; // Force CSS Reflow
            player_pawn.classList.remove('no-transition');
        }
    }

    var players_populate_listeners = [];
    async function get_player_from_id(id) {
        return new Promise((resolve, reject) => {
            if(players.length > 0) {
                resolve(players.find(player => player.id === id));
            } else {
                players_populate_listeners.push(players => {
                    resolve(players.find(player => player.id === id));
                })
            }
        });
    }

    var auction_timer = -1;
    function update_auction(data) {
        //location price bidder time_left
        set_highlight_property(data.location, true);

        const bid = TurnState.AUCTION.elem.querySelector(':first-child');
        const bidAuthor = bid.querySelector(':nth-child(2)');
        get_player_from_id(data.bidder).then(player => {
            if(player) {
                bidAuthor.innerText = player.name;
            } else {
                bidAuthor.innerText = 'Nobody';
            }
        }).catch(console.error);
        const bidAmount = bid.querySelector(':nth-child(3)');
        bidAmount.innerText = data.price;

        const shouldStart = auction_timer == -1;
        auction_timer = Date.now() + data.time_left;
        if (shouldStart) {
            const updateTimer = () => {
                const remainingTime = TurnState.AUCTION.elem.querySelector(':scope > :nth-child(2) span');
                if (remainingTime) {
                    let t = auction_timer - Date.now();
                    if (t < 0) {
                        auction_timer = -1;
                        return;
                    }
                    remainingTime.innerText = (t / 1000).toFixed(1);
                }
                window.requestAnimationFrame(updateTimer);
            };
            updateTimer();
        }

        const input = TurnState.AUCTION.elem.querySelector('input');
        const button = TurnState.AUCTION.elem.querySelector('button');
        if (parseInt(input.value) <= data.price) {
            button.disabled = true;
            input.disabled = true;
            input.value = data.price + 10;
            setTimeout(() => {
                button.disabled = false;
                input.disabled = false;
            }, 1000);
        }
    }

    var confirm_bankrupt = false;
    function try_bankrupt() {
        if(confirm_bankrupt) {
            socket.emit('game', { type: 'action', action: { type: 'declare_bankrupt' } });
        }
        else {
            confirm_bankrupt = true;
            for(const button of document.getElementsByClassName('bankrupcy')) {
                button.classList.add('bankrupt-warning');
            }
            setTimeout(() => {
                confirm_bankrupt = false;
                for(const button of document.getElementsByClassName('bankrupcy')) {
                    button.classList.remove('bankrupt-warning');
                }
            }, 1*1000);
        }
    }

    window.addEventListener('resize', () => {
        for (const player of players) {
            move_player(player, player.position, true);
        }
    });

    document.addEventListener('DOMContentLoaded', () => {
        TurnState.ROLL.elem = document.getElementById("dice-rolls");
        TurnState.ROLL.elem.querySelector('button').addEventListener('click', () => {
            socket.emit('game', {type:'action', action:{type:'roll'}});
        });

        TurnState.TAX.elem = document.getElementById('tax');
        TurnState.TAX.elem.querySelector('button').addEventListener('click', () => {
            socket.emit('game', { type: 'action', action: { type: 'pay_tax' } });
        });

        TurnState.BUY_NEW.elem = document.getElementById('buy-new');
        TurnState.BUY_NEW.elem.querySelector('button:nth-child(1)').addEventListener('click', () => {
            socket.emit('game', { type: 'action', action: { type: 'buy_property', buy_type: 'buy' } });
        });
        TurnState.BUY_NEW.elem.querySelector('button:nth-child(2)').addEventListener('click', () => {
            socket.emit('game', { type: 'action', action: { type: 'buy_property', buy_type: 'auction' } });
        });

        TurnState.AUCTION.elem = document.getElementById('auction');
        TurnState.AUCTION.elem.querySelector('form').addEventListener('submit', e => {
            e.preventDefault();
            const bidInput = TurnState.AUCTION.elem.querySelector('form input');
            socket.emit('game', { type: 'action', action: { type: 'outbid', amount: parseInt(bidInput.value) } });
        });

        TurnState.MANAGE_PROPERTIES.elem = document.getElementById('manage-properties');
        TurnState.MANAGE_PROPERTIES.elem.querySelector('button').addEventListener('click', () => {
            socket.emit('game', { type: 'action', action: { type: 'continue' } });
        });

        TurnState.JAIL_DECISION.elem = document.getElementById('jail-decision');
        TurnState.JAIL_DECISION.elem.querySelector('button:nth-child(1)').addEventListener('click', () => {
            socket.emit('game', { type: 'action', action: { type: 'jail_escape', choice: 'roll' } });
        });
        TurnState.JAIL_DECISION.elem.querySelector('button:nth-child(2)').addEventListener('click', () => {
            socket.emit('game', { type: 'action', action: { type: 'jail_escape', choice: 'fine' } });
        });
        TurnState.JAIL_DECISION.elem.querySelector('button:nth-child(3)').addEventListener('click', () => {
            socket.emit('game', { type: 'action', action: { type: 'jail_escape', choice: 'card' } });
        });

        TurnState.FORCE_SELL.elem = document.getElementById('force-sell');
        TurnState.FORCE_SELL.elem.querySelector('button:nth-child(1)').addEventListener('click', () => {
            try_bankrupt();
        });
        TurnState.FORCE_SELL.elem.querySelector('button:nth-child(2)').addEventListener('click', () => {
            socket.emit('game', { type: 'action', action: { type: 'continue' } });
        });


        let rotation = 0;
        const rotLeftBtn = document.getElementById('rotate-left');
        rotLeftBtn.addEventListener('click', () => {
            rotation--;
            updateRotation();
        });

        const rotRightBtn = document.getElementById('rotate-right');
        rotRightBtn.addEventListener('click', () => {
            rotation++;
            updateRotation();
        });

        const bankrupt_button = document.getElementById('bankrupt-button');
        bankrupt_button.addEventListener('click', () => {
            try_bankrupt();
        });

        const about_button = document.getElementById('about-button');
        const footer = document.querySelector('body > footer');
        about_button.addEventListener('click', () => {
            footer.classList.add('shown');
        });
        footer.addEventListener('click', () => {
            footer.classList.remove('shown');
        });

        trade_control = document.getElementById('trade-control');
        trade_control_start = trade_control.querySelector(':scope > div:nth-of-type(1)');
        trade_player_select = document.getElementById('trade-player-select');
        trade_control_edit = trade_control.querySelector(':scope > div:nth-of-type(2)');
        trade_add_button = document.getElementById('trade-add-button');
        trade_remove_button = document.getElementById('trade-remove-button');
        trade_player_1 = document.getElementById('trade-player-1');
        trade_player_2 = document.getElementById('trade-player-2');
        trade_money = document.getElementById('trade-money');
        trade_money_indicator = document.querySelector('#trade-money + span');

        trade_control_start.querySelector('button').addEventListener('click', start_trade);
        trade_add_button.addEventListener('click', () => {
            add_property_to_trade(highlighted_square);
        });
        trade_remove_button.addEventListener('click', () => {
            remove_property_to_trade(highlighted_square);
        });

        trade_propose_button = trade_control_edit.querySelector('button:nth-of-type(1)');
        trade_cancel_button = trade_control_edit.querySelector('button:nth-of-type(2)');

        trade_propose_button.addEventListener('click', () => send_trade(true));
        trade_cancel_button.addEventListener('click', () => send_trade(false));

        trade_money.addEventListener('input', () => {
            is_trade_local = true;
            update_trade_display();
        });

        trade_lock_info = trade_control.querySelector(':scope > div:nth-of-type(3)');

        control_panel = document.getElementById('control-panel');

        function updateRotation() {
            const from_transform = board.style.transform;

            // Disable transition
            board.classList.add('no-transition');

            // Load target position
            board.style.transform = 'rotate(' + (rotation * 90) + 'deg)';
            board.offsetHeight; // Force CSS Reflow

            // Animate players
            for (const player of players) {
                move_player(player, player.position, false);
            }

            // Restore rotation
            board.style.transform = from_transform;
            board.offsetHeight; // Force CSS Reflow

            // Enable transition
            board.classList.remove('no-transition');

            // Animate rotation
            board.style.transform = 'rotate(' + (rotation * 90) + 'deg)';
        }



        function update_players() {
            let player_list = document.getElementById('game-players');
            let player_pawns = document.getElementById('player-pawns');

            for(const player of players) {
                if(!player.player_entry) {
                    let player_entry = document.createElement('div');
                    player_entry.classList.add('player');
                    player_entry.classList.add('player-' + player.color);
                    player.player_entry = player_entry;

                    let elem = document.createElement('div');
                    elem.classList.add('name');
                    elem.innerText = player.name;
                    player_entry.appendChild(elem);

                    elem = document.createElement('div');
                    elem.classList.add('money');
                    player_entry.appendChild(elem);

                    player_list.appendChild(player_entry);
                }
                if(player.status === PlayerStatus.PLAYING) {
                    player.player_entry.classList.remove('pwnd');
                } else {
                    player.player_entry.classList.add('pwnd');
                }

                if(!player.pawn)
                {
                    elem = document.createElement('div');
                    elem.classList.add('player');
                    elem.classList.add('player-' + player.color);
                    player.pawn = elem;
                    player_pawns.appendChild(elem);
                }

                const moneyElem = player.player_entry.querySelector('.money');
                moneyElem.innerText = player.money;

                move_player(player, player.position);
            }

            update_trade_players();
        }

        socket.on('game', (data) => {
            console.log(data);
            if(data.type === 'sync-request') {
                if(data.step === 'board') { // Populate spaces
                    let squares = data.data.spaces;
                    for(let i = 0; i < 40; i++) {
                        let square_data = squares[i];
                        update_square(i, square_data);
                    }
                    socket.emit('game', {type:'sync-request', step:'players'});
                }
                else if(data.step === 'players') { // Populate players
                    let color = 0;
                    for(const player of data.data) {
                        players.push({
                            name: player.name,
                            money: player.money,
                            id: player.id,
                            color: color++,
                            position: player.position,
                            status: player.status
                        });
                    }
                    myself = data.myself;
                    for(const listener of players_populate_listeners) {
                        listener(players);
                    }
                    get_player_from_id(myself).then((player) => {
                        document.title = 'Monopolobbies Game - ' + player.name;
                    });

                    players_populate_listeners = [];
                    update_players();
                    socket.emit('game', {type:'sync-request', step:'state'});
                }
                else if(data.step === 'state') {
                    set_turn_data(data.data);
                    if(data.data.current_trade) {
                        update_trade(data.data.current_trade);
                    }
                }
            }
            else if(data.type === 'turn') {
                set_turn_data(data.data);
            }
            else if(data.type === 'action') {
                if(data.action === 'roll-result') {
                    TurnState.ROLL.elem.querySelector('button').disabled = true;
                    TurnState.ROLL.elem.querySelector('div').innerText = 'Results: '+data.data.d1+' '+data.data.d2;
                }
            }
            else if(data.type === 'movement') {
                let player = players.find((player) => player.id === data.from);
                move_player(player, data.towards);
            }
            else if(data.type === 'transfer') {
                const fromPlayer = players.find(player => player.id === data.from);
                if(fromPlayer !== undefined) {
                    fromPlayer.money -= data.amount;
                }
                const toPlayer = players.find(player => player.id === data.to);
                if(toPlayer !== undefined) {
                    toPlayer.money += data.amount;
                }
                update_players();
            }
            else if(data.type === 'property') { // Property update
                update_square(data.location, {property:{owner_id: data.owner, mortgaged: data.mortgaged, house_count: data.house_count}});
            }
            else if(data.type === 'auction') {
                update_auction(data.data);
            }
            else if(data.type === 'trade') {
                update_trade(data.trade);
            }
            else if(data.type === 'player') {
                let player = players.find((player) => player.id === data.id);
                if(data.status !== undefined) {
                    player.status = data.status;
                }
                update_players();
            }
        });

        socket.emit('game', {type:'sync-request', step:'board'});
    });

    // Trade //
    var current_trade = null;
    var is_trade_local = true;
    var lock_trade = false;
    var trade_control;
    var trade_control_start, trade_player_select;
    var trade_control_edit, trade_add_button, trade_remove_button,
        trade_propose_button, trade_cancel_button;
    var trade_player_1, trade_player_2, trade_money, trade_money_indicator;
    var trade_lock_info;

    function update_trade_players() {
        trade_player_select.querySelectorAll(':scope > option:not(:nth-of-type(1))')
            .forEach(opt => trade_player_select.removeChild(opt));
        for(const player of players) {
            if(player.id !== myself && player.status === PlayerStatus.PLAYING) {
                const opt = document.createElement('option');
                opt.value = player.id;
                opt.innerText = player.name;
                trade_player_select.appendChild(opt);
            }
        }

        trade_player_select.selectedIndex = 0;

        update_trade_display();
    }

    function update_trade(trade) {
        if(trade === null) {
            current_trade = null;
            is_trade_local = true;
            lock_trade = false;
        } else {
            let self, other;
            if(trade.recv.id === myself) {
                self = trade.recv;
                other = trade.send;
                trade.money *= -1;
                is_trade_local = false;
            } else if(trade.send.id === myself) {
                self = trade.send;
                other = trade.recv;
                lock_trade = true;
            } else {
                return;
            }
            current_trade = {
                money: trade.money,
                self: self,
                other: other
            };
            trade_money.value = current_trade.money;
        }

        update_trade_display();
    }

    function update_trade_display() {
        if(lock_trade) {
            trade_control_start.classList.add('hidden');
            trade_control_edit.classList.add('hidden');
            trade_add_button.classList.add('hidden');
            trade_lock_info.classList.remove('hidden');
            return;
        }

        trade_lock_info.classList.add('hidden');

        if(current_trade === null) {
            trade_control_start.classList.remove('hidden');
            trade_control_edit.classList.add('hidden');
            trade_add_button.classList.add('hidden');
            return;
        }

        trade_control_start.classList.add('hidden');
        trade_control_edit.classList.remove('hidden');

        var self, other;
        get_player_from_id(myself).then(p => {
            self = p;
            return get_player_from_id(current_trade.other.id);
        }).then(p => {
            other = p;

            update_player_trade_display(trade_player_1, self, current_trade.self);
            update_player_trade_display(trade_player_2, other, current_trade.other);

            trade_money.setAttribute('min', -other.money);
            trade_money.setAttribute('max', self.money);
        }).catch(console.error);

        if(is_trade_local) {
            trade_propose_button.innerText = 'Propose';
            trade_cancel_button.innerText = 'Cancel';
        } else {
            trade_propose_button.innerText = 'Accept';
            trade_cancel_button.innerText = 'Reject';
        }

        if(trade_money.value < 0) {
            trade_money_indicator.innerText = '↑';
        } else if(trade_money.value > 0) {
            trade_money_indicator.innerText = '↓';
        } else {
            trade_money_indicator.innerText = '';
        }

        set_highlight_property(highlighted_square);
    }

    function update_player_trade_display(el, player, trade_data) {
        el.querySelector('span').innerText = player.name;
        const property_list = el.querySelector('ul');
        property_list.innerHTML = '';
        for(const index of trade_data.properties) {
            const property = get_square(index);
            const li = document.createElement('li');
            li.innerText = square_info[index].name;
            li.addEventListener('click', () => {
                set_highlight_property(index);
            });
            property_list.appendChild(li);
        }
    }

    function start_trade() {
        if(current_trade !== null || trade_player_select.selectedIndex === 0) {
            return;
        }

        current_trade = {
            self: {
                properties: []
            },
            other: {
                id: parseInt(trade_player_select.value),
                properties: []
            },
            money: 0,
        };

        trade_money.value = 0;

        update_trade_display();
    }

    function send_trade(accept) {
        console.log('send', accept, current_trade, is_trade_local);
        if(is_trade_local) {
            if(accept) {
                current_trade.money = parseInt(trade_money.value);
                socket.emit('game', { type: 'action', action: { type: 'trade', action: 'propose', trade: current_trade } });
            } else {
                current_trade = null;
                update_trade_display();
            }
        } else {
            console.log('test');
            socket.emit('game', { type: 'action', action: { type: 'trade', action: accept ? 'accept' : 'reject' } });
        }
    }

    function add_property_to_trade(index) {
        const info = square_info[index];
        if(!info.property) {
            return;
        }

        if(info.property.owner_id === myself) {
            current_trade.self.properties.push(index);
            is_trade_local = true;
            update_trade_display();
        } else if(info.property.owner_id === current_trade.other.id) {
            current_trade.other.properties.push(index);
            is_trade_local = true;
            update_trade_display();
        }
    }

    function remove_property_to_trade(index) {
        const info = square_info[index];
        if(!info.property) {
            return;
        }

        if(info.property.owner_id === myself) {
            current_trade.self.properties = current_trade.self.properties.filter(p => p !== index);
            is_trade_local = true;
            update_trade_display();
        } else if(info.property.owner_id === current_trade.other.id) {
            current_trade.other.properties = current_trade.other.properties.filter(p => p !== index);
            is_trade_local = true;
            update_trade_display();
        }
    }

    function should_show_trade_add_button(index) {
        return current_trade !== null && !lock_trade &&
            current_trade.self.properties.indexOf(index) < 0 &&
            current_trade.other.properties.indexOf(index) < 0 &&
            (square_info[index].property.owner_id === myself ||
                square_info[index].property.owner_id === current_trade.other.id);
    }

    function should_show_trade_remove_button(index) {
        return current_trade !== null && !lock_trade &&
            (current_trade.self.properties.indexOf(index) >= 0 ||
                current_trade.other.properties.indexOf(index) >= 0);
    }
</script>
