<h1>Home</h1>

<section class="panel panel-centered">
    <h2>Open Lobbies</h2>
    
    <p id="lobby-errors"></p>
    <ul id="lobby-list">
        <p>Loading lobbies...</p>
    </ul>

    <form action="/request" method="POST">
        <input type="hidden" name="type" value="home">
        <input type="hidden" name="action" value="create-lobby">
        <button type="submit">Create Lobby</button>
    </form>
</section>

<section class="panel panel-centered center">
    <h2>Chat</h2>

    <%- include('./chat.ejs'); %>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const lobbies = document.getElementById('lobby-list');

        function try_join_lobby(field, lobby_data) {
            let httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = () => {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    if (httpRequest.status === 200) {
                        let response = JSON.parse(httpRequest.responseText);
                        if(response.ok) {
                            window.location.replace('/lobby/'+lobby_data.id);
                        }
                        else {
                            document.getElementById('lobby-errors').innerText = response.error;
                        }
                    } else {
                        document.getElementById('lobby-errors').innerText = 
                            'Impossible to join lobby, error: ' + httpRequest.status;
                    }
                }
            };
            httpRequest.open('POST', '/request', true);
            httpRequest.setRequestHeader('Content-Type', 'application/json');
            httpRequest.send(JSON.stringify({
                type: 'home',
                action: 'join-lobby',
                id: lobby_data.id,
                password: field ? field.value : ''
            }));
        }

        function update_lobby(lobby, lobby_data) {
            while(lobby.firstChild)
                lobby.removeChild(lobby.firstChild);
            
            let elem;

            elem = document.createElement('p');
            elem.classList.add('lobby_name');
            elem.innerText = lobby_data.name;
            lobby.appendChild(elem);

            elem = document.createElement('p');
            elem.classList.add('lobby_players');
            elem.innerText = 'Players: ' + lobby_data.players + '/6';
            lobby.appendChild(elem);

            elem = document.createElement('p');
            elem.classList.add('lobby_style');
            elem.innerText = 'Board: ' + lobby_data.gamemode;
            lobby.appendChild(elem);

            let field;
            if(lobby_data.locked) {
                field = document.createElement('input');
                field.classList.add('lobby_password');
                field.placeholder = 'Password';
                field.type = 'text';
                lobby.appendChild(field);
            }

            elem = document.createElement('button');
            elem.innerText = 'Join Lobby';
            elem.enabled = !(lobby_data.locked) && !(lobby_data.players >= 6);
            elem.addEventListener('click', () => {
                try_join_lobby(field, lobby_data);
            });
            lobby.appendChild(elem);
        }

        function set_lobby(lobby_data) {
            let id = lobby_data.id;
            let lobby;

            if(lobbies.getElementsByClassName('lobby_'+id).length === 0) {
                lobby = document.createElement('div');
                lobby.classList.add("lobby_"+id);
                lobbies.appendChild(lobby);
            }
            else {
                lobby = lobbies.getElementsByClassName('lobby_'+id)[0];
            }

            if(lobby_data.name && !lobby_data.running) {
                update_lobby(lobby, lobby_data);
            }
            else {
                lobbies.removeChild(lobby);
            }
        }

        socket.on('home', data => {
            if(data.type === 'lobby-request') {
                while(lobbies.firstChild) {
                    lobbies.removeChild(lobbies.firstChild);
                }
                for(const lobby of data.lobbies) {
                    set_lobby(lobby);
                }
            }
            else if(data.type === 'lobby-update') {
                set_lobby(data.data);
            }
        })

        socket.emit('home', {type: 'lobby-request'});
    });
</script>