<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Monopolobbies<% if(data && data.customTitle) { %><%= data.customTitle %><% } %></title>

    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400&display=swap" rel="stylesheet">
    <style>
    </style>
    <% if(!isLocal) { %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <% } else { %>
      <script src="/lib/socket.io.dev.js"></script>
    <% } %>
    <script>
      var socket;

      document.addEventListener('DOMContentLoaded', function() {
        socket = io();
      });
    </script>
  </head>

  <body>
      <%- content %>
  </body>

  <footer>
    <p>Made during Semester 5, Computer Science in UPVD.</p>
    <p>Development: Benjamin Peyrille, Alice Gaudon</p>
  </footer>
</html>