<script>
    const squareRowTemplate = `<div class="square-row-container"><div class="square-row"></div></div>`;
    const squareTemplate = `<div class="square">
        <div class="name">Space</div>
        <div class="owner"></div>
        <div class="mortgage-value"></div>
        <div class="house-value"></div>
        <div class="rent"></div>
        <div class="description"></div>
    </div>`;
    const houseTemplate = '<i class="house"></i>';
    const hotelTemplate = '<i class="hotel"></i>';

    /*`<div class="square" data-owner="blue" data-group="">
        <div class="houses">
            <i class="house"></i>
            <i class="house"></i>
        </div>
        <div class="name">Name Avenue</div>
        <div class="description">$500</div>
    </div>`;*/

    /** @type {HTMLElement} */
    var board;
    var highlight;
    var highlight_hover;
    var highlight_form;
    var mortgage_control;
    var mortgage_info;
    var house_control;
    var trade_control;

    var forced_highlighted_square = null;
    var highlighted_square = null;

    var square_info = [];

    function get_group(group) {
        let x = square_info.filter((square) => {
            return (square.property && square.property.property_type === 0 && square.property.group === group)
        });
        return x;
    }

    function get_railroads() {
        let x = square_info.filter((square) => {
            return (square.property && square.property.property_type === 1);
        });
        return x;
    }

    function get_utilities() {
        let x = square_info.filter((square) => {
            return (square.property && square.property.property_type === 2);
        });
        return x;
    }

    function update_square(index, square_data) {
        const square = get_square(index);

        if(!square_info[index]) { // If square hasn't been populated
            square_info[index] = square_data;
            square_info[index].element = square;

            if(square_data.property) {
                square.addEventListener('click', () => {
                    if(highlighted_square !== index) {
                        set_highlight_property(index);
                    } else {
                        set_highlight_property(null);
                    }
                });
            }
        }
        else if(square_data.property) { // If square is property
            if(square_info[index].property.property_type === 0) { // If square is street
                if(square_data.property.owner_id !== undefined) { // If square changed owner
                    let g = get_group(square_info[index].property.group);
                    let own_group = 2;
                    for(const info of g) {
                        if(info === square_info[index]) {
                            continue;
                        }
                        if(info.property.owner_id !== square_data.property.owner_id) {
                            own_group = 1;
                            break;
                        }
                    }
                    square_info[index].element.querySelector('.rent').innerText = 'Rent: $' + square_info[index].property.rent[0] * own_group;
                }
                else if(square_data.property.house_count !== undefined) { // If square has more houses
                    square_info[index].element.querySelector('.rent').innerText = 'Rent: $' + square_info[index].property.rent[square_data.property.house_count];
                }
            }
            else if(square_info[index].property.property_type === 1) { // If square is railroad
                if(square_data.property.owner_id !== undefined) { // If square changed owner
                    let n = get_railroads().filter((railroad) => {railroad.property.owner_id === square_data.property.owner_id}).length + 1;
                    const values = [0, 25, 50, 100, 200];
                    square_info[index].element.querySelector('.rent').innerText = 'Rent: $'+values[n];
                }
            }
            else if(square_info[index].property.property_type === 2) { // If square is utility
                if(square_data.property.owner_id !== undefined) { // If square changed owner
                    let n = get_utilities().filter((utility) => {utility.property.owner_id === square_data.property.owner_id}).length + 1;
                    const values = [0, 4, 10];
                    square_info[index].element.querySelector('.rent').innerText = 'Rent: '+values[n]+ ' times your roll';
                }
            }
        }

        if(square_data.name) {
            square.querySelector('.name').innerText = square_data.name;
        }
        if(square_data.property) {
            square.classList.add('property');
            if(square_data.property.value) {
                square.querySelector('.description').innerText = '$'+square_data.property.value;
            }
            if(square_data.property.mortgage_value) {
                square.querySelector('.mortgage-value').innerText = 'Mortgage Value: $'+square_data.property.mortgage_value;
            }
            if(square_data.property.house_value) {
                square.querySelector('.house-value').innerText = 'House Value: $'+square_data.property.house_value;
            }
            if(square_data.property.property_type === 0) { // If property is a street and being populated
                square.classList.add('group-' + square_data.property.group);
                const houses = document.createElement('div');
                houses.classList.add('houses');
                square.prepend(houses);
                if(square_data.property.cur_rent) {
                    square.querySelector('.rent').innerText = 'Rent: $'+square_data.property.cur_rent;
                }
            }
            else if(square_data.property.property_type === 1) {
                if(square_data.property.cur_rent) {
                    square.querySelector('.rent').innerText = 'Rent: $'+square_data.property.cur_rent;
                }
            }
            else if(square_data.property.property_type === 2) {
                if(square_data.property.cur_rent) {
                    square.querySelector('.rent').innerText = 'Rent: '+square_data.property.cur_rent + ' times your roll';
                }
            }

            if(square_info[index].property.property_type === 0 && square_data.property.house_count !== undefined) {
                square_info[index].property.house_count = square_data.property.house_count;
                set_houses(square, square_data.property.house_count);
            }
            if(square_data.property.owner_id !== undefined) {
                square_info[index].property.owner_id = square_data.property.owner_id;
                get_player_from_id(square_data.property.owner_id).then(player => {
                    const player_id = player.color;
                    for (let i = 0; i < 6; i++) {
                        square.classList.remove('player-' + i);
                    }
                    square.classList.add('player-' + player_id);
                    square.querySelector('.owner').innerText = 'Owner: '+player.name;
                }).catch(console.error);
            }
            if(square_data.property.mortgaged !== undefined) {
                square_info[index].property.mortgaged = square_data.property.mortgaged;
                if(square_data.property.mortgaged) {
                    square.classList.add('mortgaged');
                } else {
                    square.classList.remove('mortgaged');
                }
            }
            if(square_data.property.house_count !== undefined) {
                square_info[index].property.house_count = square_data.property.house_count;
            }
        }
        else {
            square.querySelector('.description').innerText = square_data.description;
        }

        if(highlighted_square === index) {
            set_highlight_property(index, forced_highlighted_square === index);
        }
    }

    function get_square(index) {
        index = index%40;
        const row = Math.floor(index/10);
        return board.children[row].firstChild.children[index%10];
    }

    function set_houses(square, amount) {
        const houses = square.querySelector('.houses');
        if(amount < 5) {
            houses.innerHTML = houseTemplate.repeat(amount);
        } else {
            houses.innerHTML = hotelTemplate;
        }
    }

    function set_highlight_property(index, force) {
        highlight.innerHTML = '';
        if(index !== null) {
            const square = get_square(index);
            highlight.appendChild(square.cloneNode(true));
            highlighted_square = index;
            set_form_visible(index);
            if(force) {
                forced_highlighted_square = index;
            }
        } else if(forced_highlighted_square !== null) {
            set_highlight_property(forced_highlighted_square);
        } else {
            highlighted_square = null;
            set_form_visible(false);
            if(forced_highlighted_square) {
                forced_highlighted_square = null;
            }
        }
    }

    function set_form_visible(index) {
        if(typeof index !== 'number' || !turn_state.show_property_edit_form) {
            highlight_form.classList.add('hidden');
            return;
        }
        mortgage_control.classList.add('hidden');
        house_control.classList.add('hidden');

        if(square_info[index].property.owner_id === myself) {
            if(square_info[index].property.mortgaged) {
                mortgage_control.querySelector('button').innerText = 'Unmortgage';
                mortgage_info.innerText = '- $' + (Math.floor(square_info[index].property.mortgage_value * 1.1));

                mortgage_control.classList.remove('hidden');
            } else {
                let can_mortgage = true;
                if(square_info[index].property.property_type === 0) {
                    let can_own_house = true;
                    for(const property of get_group(square_info[index].property.group)) {
                        if(property.property.owner_id !== myself || property.property.mortgaged) {
                            can_own_house = false;
                        }
                        if(property.property.house_count > 0) {
                            can_mortgage = false;
                        }
                    }
                    if (can_own_house) {
                        house_control.classList.remove('hidden');
                        house_control.querySelector('input').value = square_info[index].property.house_count;
                    }

                }
                if(can_mortgage) {
                    mortgage_control.querySelector('button').innerText = 'Mortgage';
                    mortgage_info.innerText = '+ $' + square_info[index].property.mortgage_value;
                    mortgage_control.classList.remove('hidden');
                }
            }

            update_house_info(square_info[index].property.house_count);
        }

        highlight_form.classList.remove('hidden');

        if(should_show_trade_add_button(index)) {
            trade_add_button.classList.remove('hidden');
        } else {
            trade_add_button.classList.add('hidden');
        }
        if(should_show_trade_remove_button(index)) {
            trade_remove_button.classList.remove('hidden');
        } else {
            trade_remove_button.classList.add('hidden');
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        board = document.getElementById('game-board');

        board.innerHTML = squareRowTemplate;
        board.firstChild.firstChild.innerHTML = squareTemplate.repeat(10);
        board.innerHTML = board.innerHTML.repeat(4);

        highlight = document.getElementById('highlight');
        highlight_form = document.getElementById('highlight-form');
        
        // Mortgage
        mortgage_control = document.getElementById('mortgage-control');
        mortgage_info = mortgage_control.querySelector('span');
        mortgage_control.querySelector('button').addEventListener('click', () => {
            if(square_info[highlighted_square].property.mortgaged) {
                socket.emit('game', { type: 'action', action: { type: 'unmortgage_property', location: highlighted_square } });
            } else {
                socket.emit('game', { type: 'action', action: { type: 'mortgage_property', location: highlighted_square } });
            }
        });

        // Houses
        house_control = document.getElementById('house-control');
        house_info = house_control.querySelector('span');
        const house_amount_input = house_control.querySelector('input[type=number]');
        house_amount_input.addEventListener('input', function() {
            update_house_info(this.value);
        });
        house_control.querySelector('button').addEventListener('click', function() {
            socket.emit('game', { type: 'action', action: { type: 'change_property_houses', location:
                highlighted_square, amount: parseInt(house_amount_input.value) } });
        });

        // Trade
        trade_control = document.getElementById('trade-control');
    });

    function update_house_info(new_amount) {
        const info = square_info[highlighted_square];
        if(info) {
            const old_amount = info.property.house_count;
            const cost_per_house = info.property.house_value;
            const diff = new_amount - old_amount;
            if(diff > 0) {
                house_info.innerText = '+' + diff + ' house' + (diff > 1 ? 's' : '') + ': -$' + (cost_per_house * diff);
            } else if(diff < 0) {
                house_info.innerText = diff + ' house' + (diff < 1 ? 's' : '' ) + ': +$' + (cost_per_house * diff *
                    -0.5);
            } else {
                house_info.innerText = 'No modification';
            }
        }
    }
</script>