:root {
    --background-color: #424242;
    --background-color-medium: #2d2d2d;
    --background-color-dark: #1b1b1b;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--background-color);
    color: #fff;

    font-family: 'Nunito', 'Liberation sans', sans-serif;
    font-size: 16px;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 16px 8px;
    background-color: var(--background-color-dark);
}

footer p {
    margin: 0;
}

h1 {
    text-align: center;
    background-color: var(--background-color-medium);
    margin: 0;
    margin-bottom: 8px;
    padding: 8px;

    font-weight: 300;
}

h2 {
    margin: 8px;
}

hr {
    border: 0;
    border-bottom: 1px solid #fff5;
    width: 100%;
}

input,
button,
select,
textarea {
    border-radius: 3px;
    border: 0;
    background-color: #fff;
    color: #000;
    padding: 8px 16px;
}

button {
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    background-color: #eee;
}

.hidden {
    display: none;
}

.no-transition {
    transition: none !important;
}

.panel {
    margin: 16px;
    padding: 16px;

    background-color: #0002;
    border-radius: 5px;
    box-shadow: 0 2px 2px #00000057;
}

.panel-centered {
    margin-left: auto;
    margin-right: auto;
}

.panel h2:first-child {
    margin-top: 0;
}

.center {
    text-align: center;
}

form {
    margin: 16px 0 8px;
}

/*** Game Page ***/
#game-page {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 100%;
}

#game-display,
#game-controls {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#game-display {
    flex: 1;
    height: 100%;
    overflow: hidden;
}

#game-controls {
    width: 400px;
    max-width: 33vw;
    height: 100%;
}

#game-page>*>* {
    border: 1px solid grey;
    padding: 16px;
}

#world-container {
    flex: 1;
    padding: 0;
    overflow: hidden auto;
}

#game-board-container {
    position: relative;
    padding: 0;
}

#game-board {
    position: relative;
    padding: 0;
    padding-bottom: 100%;
    overflow: hidden;

    transform: rotate(0deg);
    transition: transform ease-out 200ms;
}

#game-board .square .mortgage-value,
#game-board .square .house-value,
#game-board .square .owner,
#game-board .square .rent {
    display: none;
}

#game-board .square.property {
    cursor: pointer;
}

.square-row-container {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(11 / 13 * 100%);
    padding-bottom: calc(2 / 13 * 100%);
}

.square-row-container:nth-child(3) {
    z-index: 2;
}

.square-row {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4f4f4f;
}

.square-row-container:nth-child(4) .square-row {
    right: 0;
    transform-origin: top right;
    transform: rotate(90deg) translate(100%, -100%);
}

.square-row-container:nth-child(1) .square-row {
    transform: rotate(180deg) translate(calc(-2 / 11 * 100%), -550%);
}

.square-row-container:nth-child(2) .square-row {
    transform-origin: top left;
    transform: rotate(270deg) translate(calc(-13 / 11 * 100%));
}

.square {
    --property-color: #d26c00;
    flex: calc(1/11);

    display: flex;
    flex-direction: column;

    font-size: 0.525vw;

    border: 1px solid grey;
    text-align: center;
    overflow: hidden;

    transform: rotate(180deg);

    background-color: var(--player-color-bg);
}

.square.property.group-0 {
    --property-color: #965539;
}

.square.property.group-1 {
    --property-color: #acdffc;
}

.square.property.group-2 {
    --property-color: #d93a97;
}

.square.property.group-3 {
    --property-color: #f6911b;
}

.square.property.group-4 {
    --property-color: #ed1b24;
}

.square.property.group-5 {
    --property-color: #fdf100;
}

.square.property.group-6 {
    --property-color: #1fb25a;
}

.square.property.group-7 {
    --property-color: #0071bd;
}

.square-row .square:first-child {
    flex: calc(2/11);
    transform: rotate(135deg);
    border: 0;
}

.square-row .square:first-child>.name,
.square-row .square:first-child>.description {
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.square-row .square:first-child>.name {
    top: 40%;
}

.square-row .square:first-child>.description {
    top: 60%;
}

.square>.houses {
    position: relative;
    padding-bottom: 25%;
    background-color: var(--property-color);
}

.square>.houses .hotel,
.square>.houses .house {
    left: 0;
    top: 0;
    position: absolute;
    display: inline-block;
    height: 100%;
    border: 1px solid black;
}

.square>.houses .hotel {
    background-color: red;
    width: 35%;
    transform: translateX(-50%) scale(0.88);
    margin-left: auto;
    margin-right: auto;
    left: 50%;
}

.square>.houses .house {
    background-color: green;
    width: 25%;
    transform: scale(0.8);
}

.square>.houses .house:nth-child(2) {
    left: 25%;
}

.square>.houses .house:nth-child(3) {
    left: 50%;
}

.square>.houses .house:nth-child(4) {
    left: 75%;
}

.square>.name {
    flex: 1;
    margin-bottom: 8px;
    padding: 4px;

    font-weight: bolder;

    text-transform: uppercase;

    overflow-wrap: anywhere;
    hyphens: auto;
}

.square>.description {
    padding: 8px;
}

#game-controls>* {
    flex: 1;
}


/*** PLAYER LIST ***/
#game-players {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

#game-players>.player {
    padding: 8px 16px;
    border-radius: 5px;
    background-color: var(--player-color);
}

#game-players>.player.playing {
    border: 2px solid #fff;
}

#game-players>.player.pwnd {
    opacity: 0.3;
}

.player-0 {
    --player-color: #f44336;
    --player-color-bg: #f4433659 !important;
}

.player-1 {
    --player-color: #2196f3;
    --player-color-bg: #2196f359 !important;
}

.player-2 {
    --player-color: #8bc34a;
    --player-color-bg: #8bc34a59 !important;
}

.player-3 {
    --player-color: #ffc107;
    --player-color-bg: #ffc10759 !important;
}

.player-4 {
    --player-color: #9c27b0;
    --player-color-bg: #9c27b059 !important;
}

.player-5 {
    --player-color: #607d8b;
    --player-color-bg: #607d8b59 !important;
}

#game-players>.player>.money::before {
    content: '$';
}

#player-pawns {
    position: absolute;
    top: 0;
    left: 0;
}

#player-pawns>.player {
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    border: 0.2vw solid #0005;
    border-radius: 1.5vw 1.5vw 0.4vw 0.4vw;
    background-color: var(--player-color);
    transition: top 200ms ease-out, left 200ms ease-out;
}

#player-pawns>.player.playing {
    border-color: #fff;
}

.highlight {
    position: relative;
    width: 30%;
    height: 40%;
    margin: 0 auto 8px auto;
}

.highlight .square {
    transform: none;
    width: 100%;
    height: 100%;
    --player-color-bg: #4f4f4f;
    font-size: calc(2 * 0.525vw);
}

#highlight-form {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}

#bid div:nth-of-type(2)::before {
    content: "$";
}

.square.mortgaged {
    border-style: dashed;
    border-color: #000;
}

#board-center {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(9/13 * 100%);
    height: calc(9/13 * 100%);
    top: calc(2/13 * 100%);
    left: calc(2/13 * 100%);

    text-align: center;
    padding: 8px;
}

#game-chat {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#chat {
    flex: 1;
    overflow: hidden auto;
    word-break: break-all;
}

#game-actions {
    display: flex;
    flex-direction: column;
    padding: 0;
}

#game-actions>* {
    border-bottom: 1px solid #fff5;
    margin: 0;
    padding: 8px;
}

#game-actions>:last-child {
    margin-top: auto;
    border: 0;
    border-top: 1px solid #fff5;
}

#chat-form {
    display: flex;
}

#chat-form label input {
    display: none;
}

#chat-form label {
    display: inline-block;
    margin-right: 8px;
    padding: 8px 16px;

    border-radius: 3px;
    background-color: #fff1;
    cursor: pointer;
}

#chat-form label.selected {
    background-color: #fff5;
}

#chat-form input[type=text] {
    min-width: 0;
    flex: 1;
    margin-right: 8px;
}

#control-panel {
    background-color: var(--player-color-bg);
}

#control-panel.playing {
    border: 2px solid #fff;
}

.bankrupt-warning {
    background-color: #f33f;
}

button:hover.bankrupt-warning {
    background-color: #f33f;
}